.zoom {
    width: 60%;
}
.bg_chat {
    background-color: #2b3d6d;
}
.citation::after {
    content: "";
    display: block;
    background-color: #F4DB7D;
    height: 15px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13px;
    margin-bottom: 0px;
  }